@font-face {
    font-family: heading;
    src: url(font/SaltDebrisPersonalUse-8MdgA.otf);
}

h1{
    font-size: 24px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    font-family: heading;
    color: blue;

}
p{
    text-align: right;
}